/deep/ .input-mini {
    width: 54px
}
/deep/ table {
border-collapse: collapse; 
 border: 2px solid #708090; 
 background-color:#DCDCDC;

}
/deep/ th, td {
    border: 3px solid #708090;
    width: 25px;
    height: 25px;
    text-align: center;
}
/deep/ .clicked{
    background-color:#708090;
 
}

   

